.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0 0 23px rgb(140, 117, 240);
    background-color: rgb(174, 222, 245);
}
.name{
    color: grey;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(223, 21, 21, 0.767); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000; 
  }