.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 190px;
    height: 210px;
    box-shadow: 0 0 23px rgb(140, 117, 240);
    background-color: white;
}
.name{
    color: grey;
}